.school-details-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .school-details-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .school-details-container p {
    margin: 5px 0;
    line-height: 1.6;
  }
  