.navbar {
  width: 250px; 
  background-color: #24292e; 
  color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
  transition: all 0.3s ease; 
  
}

.navbar.collapsed { 
  width: 60px; 
  transition: all 0.3s ease; 
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}

.navbar ul li {
  padding: 12px; 
  text-align: center;
  transition: all 0.3s ease; 
}

.navbar ul li:hover {
  background-color: #3a3f44; 
  transition: all 0.3s ease; 
}

.navbar ul li a {
  color: inherit;
  text-decoration: none; 
  display: block; 
  transition: all 0.3s ease; 
}

.navbar ul li.active-link { 
  background-color: #1a73e8;
  color: #fff; 
  transition: all 0.3s ease; 
}


@media (max-width: 768px) {
  .navbar { 
    width: 60px; 
  }
  
  .navbar.expanded { 
    width: 250px; 
  }
}
